/* CSS Demo Stylesheet */

/*  ---------------Box Sizing-----------------  */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}


/*----------------Global Styles ------------------*/
body{
    font-family: "Dosis", sans-serif;
    margin:0;
}

header.primary{
  background-color:lightblue;
  text-align:center;
  text-shadow: 1px 2px #0000;
  color:#ffff;
  /* single line */
  padding: 40px;
}

header.primary h1{
  font-weight:bold;
  font-size: 2.4rem;
  margin:10px 0 0 0;
}

header.primary hi a{
color:#ffff;
text-decoration:none;
}

header.primary h2{
    font-size: 2.4rem;
    letter-spacing:2px;
    margin:10px 0 0 0;
}

header.primary nav ul{
padding:0;
}
header.primary nav ul{
  list-style-type:none;
}

/* --- Color Combo --- */ 
/*
.WEB-TECH-1-hex { color: #568EBF; }
.WEB-TECH-2-hex { color: #82B0D9; }
.WEB-TECH-3-hex { color: #9CC1D9; }
.WEB-TECH-4-hex { color: #DFEDF2; }
.WEB-TECH-5-hex { color: #F2E7AC; }
*/

